Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)

CNF-24733: Upstream release-config version bump (4.20.3)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24733: Upstream release-config version bump (4.20.3) (#9649)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24733: Upstream catalog-template update (4.20.3)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-24733: Upstream catalog-template update (4.20.3) (#9651)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-24236: Upstream release-config version bump (4.22.0)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24236: Upstream release-config version bump (4.22.0) (#9652)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24236: Upstream catalog-template update (4.22.0)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-24236: Upstream catalog-template update (4.22.0) (#9655)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-24894: Upstream release-config version bump (4.14.11)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24894: Upstream release-config version bump (4.14.11) (#9656)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24894: Upstream catalog-template update (4.14.11)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-24894: Upstream catalog-template update (4.14.11) (#9658)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

use upstream run-opm-command-oci-ta with convert-image-tags-to-digests
  .tekton/fbc-pipeline.yaml
Due: none

Update .ci-operator.yaml
  .ci-operator.yaml
Due: none

Sort cluster names in event payload
  .gitignore
  controllers/events.go
  controllers/events_test.go
Due: none

Sort cluster names in event payload (#9906)
  .gitignore
  controllers/events.go
  controllers/events_test.go
Due: none

Fix skipRange to >=4.22.0 <5.0.0 in catalog template
  .konflux/catalog/catalog-template.in.yaml
Due: none

Fix skipRange to >=4.22.0 <5.0.0 in catalog template (#9960)
  .konflux/catalog/catalog-template.in.yaml
Due: none

Add networking.k8s.io/networkpolicies RBAC to CSV and ClusterRole
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/clustergroupupgrade_controller.go
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-25366: Upstream release-config version bump (4.12.12)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-25366: Upstream release-config version bump (4.12.12) (#9991)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-25366: Upstream catalog-template update (4.12.12)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Add networking.k8s.io/networkpolicies RBAC to CSV and ClusterRole (#9977)
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/clustergroupupgrade_controller.go
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-25366: Upstream catalog-template update (4.12.12) (#10026)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Emit CGU events.k8s.io/v1 manually using the reconciler's client
  config/rbac/role.yaml
  controllers/clustergroupupgrade_controller.go
  controllers/events.go
  controllers/events_test.go
  controllers/validation_test.go
  tests/kuttl/cgu/upgrade-batch-timeout/00-assert.yaml
  tests/kuttl/cgu/upgrade-batch-timeout/01-assert.yaml
  tests/kuttl/cgu/upgrade-batch-timeout/02-assert.yaml
  tests/kuttl/cgu/upgrade-batch-timeout/03-assert.yaml
  tests/kuttl/cgu/upgrade-complete/00-assert.yaml
  tests/kuttl/cgu/upgrade-complete/01-assert.yaml
  tests/kuttl/cgu/upgrade-complete/02-assert.yaml
  tests/kuttl/cgu/upgrade-complete/03-assert.yaml
  tests/kuttl/cgu/upgrade-partial-batch-timeout/00-assert.yaml
  tests/kuttl/cgu/upgrade-partial-batch-timeout/01-assert.yaml
  tests/kuttl/cgu/upgrade-partial-batch-timeout/03-assert.yaml
  tests/kuttl/cgu/upgrade-partial-batch-timeout/04-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Address PR review feedback
  README.md
  config/rbac/role.yaml
  controllers/clustergroupupgrade_controller.go
  controllers/events.go
  controllers/events_test.go
  tests/kuttl/cgu/upgrade-batch-timeout/01-assert.yaml
  tests/kuttl/cgu/upgrade-batch-timeout/02-assert.yaml
  tests/kuttl/cgu/upgrade-batch-timeout/03-assert.yaml
  tests/kuttl/cgu/upgrade-complete/01-assert.yaml
  tests/kuttl/cgu/upgrade-complete/02-assert.yaml
  tests/kuttl/cgu/upgrade-complete/03-assert.yaml
  tests/kuttl/cgu/upgrade-partial-batch-timeout/01-assert.yaml
  tests/kuttl/cgu/upgrade-partial-batch-timeout/03-assert.yaml
  tests/kuttl/cgu/upgrade-partial-batch-timeout/04-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix validation failure events and nondeterministic event annotations
  controllers/events.go
  controllers/events_test.go
Due: none

Update bundle CSV with role for events.k8s.io/v1
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Deprecate unused PreCachingConfig override fields
  bundle/manifests/ran.openshift.io_precachingconfigs.yaml
  config/crd/bases/ran.openshift.io_precachingconfigs.yaml
  controllers/managedClusterResources.go
  controllers/preCachingConfig_test.go
  controllers/precache.go
  pkg/api/clustergroupupgrades/v1alpha1/types.go
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

ci-job fix: Go fmt for controllers/events_test.go
  controllers/events_test.go
Due: none

Replace text/template with structured object construction for precache ConfigMap MCA
  controllers/managedClusterResources.go
  controllers/managedClusterResources_test.go
  controllers/precache.go
  controllers/precache_test.go
  controllers/templates/precache-templates.go
Due: none

Emit CGU events.k8s.io/v1 manually using the reconciler's client (#10086)
  README.md
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/clustergroupupgrade_controller.go
  controllers/events.go
  controllers/events_test.go
  controllers/validation_test.go
  tests/kuttl/cgu/upgrade-batch-timeout/00-assert.yaml
  tests/kuttl/cgu/upgrade-batch-timeout/01-assert.yaml
  tests/kuttl/cgu/upgrade-batch-timeout/02-assert.yaml
  tests/kuttl/cgu/upgrade-batch-timeout/03-assert.yaml
  tests/kuttl/cgu/upgrade-complete/00-assert.yaml
  tests/kuttl/cgu/upgrade-complete/01-assert.yaml
  tests/kuttl/cgu/upgrade-complete/02-assert.yaml
  tests/kuttl/cgu/upgrade-complete/03-assert.yaml
  tests/kuttl/cgu/upgrade-partial-batch-timeout/00-assert.yaml
  tests/kuttl/cgu/upgrade-partial-batch-timeout/01-assert.yaml
  tests/kuttl/cgu/upgrade-partial-batch-timeout/03-assert.yaml
  tests/kuttl/cgu/upgrade-partial-batch-timeout/04-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Quote variable expansions in pre-cache shell scripts
  pre-cache/check_space.sh
  pre-cache/common.sh
  pre-cache/olm.sh
  pre-cache/pull.sh
  pre-cache/release.sh
  pre-cache/test.sh
Due: none

Update builder image refs for golang 1.26
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
  Dockerfile
  Dockerfile.aztp
  Dockerfile.recovery
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update FBC OPM base image to v5.0 for OCP 5.0 release
  .konflux/Dockerfile.catalog
Due: none

Update opm image tag to 5.0 - Should be 5.0 now as 4.22 is causing fbc pruning errors
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

Update opm image tag to 5.0 (#10438)
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

Regenerate CRD manifests with controller-gen v0.20.1
  bundle/manifests/ran.openshift.io_precachingconfigs.yaml
  config/crd/bases/ran.openshift.io_precachingconfigs.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request
