Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

topology-aware-lifecycle-manager-bundle-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-bundle-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

topology-aware-lifecycle-manager-recovery-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-recovery-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

CNF-22867: Upstream catalog-template update (4.20.2)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22867: Upstream catalog-template update (4.20.2) (#8965)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-23857: Upstream release-config version bump (4.12.11)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-23857: Upstream release-config version bump (4.12.11) (#8966)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-23857: Upstream catalog-template update (4.12.11)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-21917: Fix min_kube_version for OCP 4.22 (1.32.0 -> 1.35.0) (#6899)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-23857: Upstream catalog-template update (4.12.11) (#8969)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-21917: Fix min_kube_version for OCP 4.22 (1.32.0 -> 1.35.0)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-21917: Fix min_kube_version for OCP 4.22 (1.32.0 -> 1.35.0) (#8970)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Update pin_images.in.yaml to previous OCP 4.22 images for manager, aztp, precache, and recovery components
  .konflux/overlay/pin_images.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Red Hat Konflux update topology-aware-lifecycle-manager-bundle-5-0
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-push.yaml
Due: none

chore(deps): update konflux references (build-pipeline only)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(deps): update konflux references (build-pipeline only) (#9054)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update pin_images.in.yaml with latest snapshot sha256
  .konflux/overlay/pin_images.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Update pin_images.in.yaml with latest snapshot sha256 (#9062)
  .konflux/overlay/pin_images.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Add properly signed cert for the metrics endpoint
  bundle/manifests/cluster-group-upgrades-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/metrics_service.yaml
  main.go
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Add properly signed cert for the metrics endpoint (#9390)
  bundle/manifests/cluster-group-upgrades-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/metrics_service.yaml
  main.go
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Add properly signed cert for the metrics endpoint (#9426)
  bundle/manifests/cluster-group-upgrades-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/metrics_service.yaml
  main.go
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-24465: Upstream release-config version bump (4.19.4)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24465: Upstream release-config version bump (4.19.4) (#9569)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24477: Upstream release-config version bump (4.16.9)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24477: Upstream release-config version bump (4.16.9) (#9570)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24489: Upstream release-config version bump (4.21.3)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24489: Upstream release-config version bump (4.21.3) (#9571)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-24489: Upstream catalog-template update (4.21.3)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Suppress deprecated api call warnings for client-go event recorder
  controllers/clustergroupupgrade_controller.go
  controllers/imagebasedgroupupgrade.go
Due: none

CNF-24477: Upstream catalog-template update (4.16.9)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-24522: Upstream release-config version bump (4.18.5)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24522: Upstream release-config version bump (4.18.5) (#9635)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-24522: Upstream catalog-template update (4.18.5)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-24465: Upstream catalog-template update (4.19.4)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Update bundle.builds.in.yaml
  .konflux/catalog/bundle.builds.in.yaml
Due: none

CNF-24522: Upstream catalog-template update — Topology Aware Lifecycle Manager 4.18.5 (#9637)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-24489: Upstream catalog-template update — Topology Aware Lifecycle Manager 4.21.3 (#9601)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-24477: Upstream catalog-template update — Topology Aware Lifecycle Manager 4.16.9 (#9620)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)
