Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)

Remove default name label from build-pipeline - this is passed in via the additional-labels field instead
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Upversion main to 4.21
  Makefile
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
  tests/kuttl/cgu/backup-complete/02-assert.yaml
  tests/kuttl/cgu/backup-fail/02-assert.yaml
  tests/kuttl/cgu/backup-partial-complete/02-assert.yaml
  tests/kuttl/cgu/pre-caching-complete/03-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/03-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update target branch for 4.20 builds - Should now target the branch `release-4.20` instead of `main`
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Red Hat Konflux update topology-aware-lifecycle-manager-bundle-4-21
  .tekton/topology-aware-lifecycle-manager-bundle-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-21-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-4-21
  .tekton/topology-aware-lifecycle-manager-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-21-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-aztp-4-21
  .tekton/topology-aware-lifecycle-manager-aztp-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-21-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-precache-4-21
  .tekton/topology-aware-lifecycle-manager-precache-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-21-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-recovery-4-21
  .tekton/topology-aware-lifecycle-manager-recovery-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-21-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-fbc-4-21
  .tekton/topology-aware-lifecycle-manager-fbc-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-21-push.yaml
Due: none

Upversion main to 4.21 (#4048)
  Makefile
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
  tests/kuttl/cgu/backup-complete/02-assert.yaml
  tests/kuttl/cgu/backup-fail/02-assert.yaml
  tests/kuttl/cgu/backup-partial-complete/02-assert.yaml
  tests/kuttl/cgu/pre-caching-complete/03-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/03-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update pin_images file with 4.21 seed digests - These are built from a PR but its fine I just want them to be 4.21 for the catalog to work correctly
  .konflux/overlay/pin_images.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Update bundle_builds file with 4.21 seed digest - These are built from a PR but its fine I just want them to be 4.21 for the catalog to work correctly
  .konflux/catalog/bundle.builds.in.yaml
Due: none

Update target branch for 4.20 builds (#4050)
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix InspectPolicyObjects function to allow hub side templates and empty object definitions
  controllers/utils/policy_util.go
Due: none

update policy_util_test
  controllers/utils/policy_util_test.go
Due: none

Fix regex and add new test case
  controllers/utils/policy_util.go
  controllers/utils/policy_util_test.go
Due: none

[release-4.19] OCPBUGS-63043: Fix InspectPolicyObjects function to allow hub side templates (#4204)
  controllers/utils/policy_util.go
  controllers/utils/policy_util_test.go
Due: none

[release-4.18] OCPBUGS-63358: Fix InspectPolicyObjects function to allow hub side templates (#4322)
  controllers/utils/policy_util.go
  controllers/utils/policy_util_test.go
Due: none

Bump version to 4.20.1 (post GA)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Update unit test
  controllers/utils/manifestworkreplicaset_test.go
Due: none

Update manifestworkreplicaset_test.go
  controllers/utils/manifestworkreplicaset_test.go
Due: none

Bump version to 4.20.1 (post GA) (#4354)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

fix missing bundle nudges pin_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

fix missing bundle nudges pin_images.in.yaml (#4359)
  .konflux/overlay/pin_images.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Update catalog template with v4.20.1 (post GA)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Update bundle after fixing the 4.20 snapshot
  .konflux/catalog/bundle.builds.in.yaml
Due: none

Update catalog template with v4.20.1 (post GA) (#4356)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

use semver tags instead of sha256 values
  .konflux/catalog/catalog-template.in.yaml
Due: none

Introduce 'run-opm-command' in the fbc pipeline
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-template.in.yaml
  .tekton/fbc-pipeline.yaml
Due: none

CNF-20147: Bump TALM 4.19.z version to 4.19.2
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-20159: Bump TALM 4.18.z version to 4.18.3
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-20259: Bump TALM 4.17.z version to 4.17.2
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-20171: Bump TALM 4.16.z version to 4.16.7
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-20172: Bump TALM 4.14.z to 4.14.10
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-20320: Bump TALM 4.12.z to 4.12.10
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request
