Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

topology-aware-lifecycle-manager-bundle-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-bundle-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

topology-aware-lifecycle-manager-recovery-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-recovery-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

[release-4.14] Update catalog configuration (#1865)
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-14-push.yaml
Due: none

[release-4.15] Update catalog configuration (#1864)
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-15-push.yaml
Due: none

[release-4.13] Update catalog configuration (#1866)
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-13-push.yaml
Due: none

[release-4.17] Update catalog configuration (#1862)
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-17-push.yaml
Due: none

[release-4.18] Update catalog configuration (#1861)
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-18-push.yaml
Due: none

[release-4.16] Update catalog configuration (#1863)
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-16-push.yaml
Due: none

Remove fips check in fbc pipeline - This release is too old to be fips compliant, but the check is still running - Remove the task from the pipeline to prevent it from running entirely
  .tekton/fbc-pipeline.yaml
Due: none

Revert "Update Konflux references (#1904)"
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Revert "Update Konflux references (#1903)"
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Revert "Update Konflux references (#1902)"
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Revert "Update Konflux references (#1900)"
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Revert "Update Konflux references (#1899)"
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Revert "Update Konflux references (#1898)"
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Revert "Update Konflux references (#1897)"
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Revert "Update Konflux references (#1896)"
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Prevent tekton updates from auto merging
  renovate.json
Due: none

Pin FBC to released production bundle for now - After migration is completed this will be undone and nudges added for quay builds
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/topology-aware-lifecycle-manager/catalog.yaml
Due: none

Bump version number in overlay to 4.19.1
  .konflux/overlay/overlay.bash
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Configure catalog to include next z stream build (4.19.1) as a Konflux quay image
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/topology-aware-lifecycle-manager/catalog.yaml
Due: none

Configure catalog to include next z stream build (4.18.1) as a Konflux quay image
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/topology-aware-lifecycle-manager/catalog.yaml
Due: none

Configure catalog to include next z stream build (4.17.1) as a Konflux quay image
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/topology-aware-lifecycle-manager/catalog.yaml
Due: none

Fix overlay version to correctly be the next release
  .konflux/overlay/overlay.bash
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Configure catalog to include next z stream build (4.15.1) as a Konflux quay image
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/topology-aware-lifecycle-manager/catalog.yaml
Due: none

Configure catalog to include next z stream build (4.14.9) as a Konflux quay image
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/topology-aware-lifecycle-manager/catalog.yaml
Due: none

Configure catalog to include next z stream build (4.13.3) as a Konflux quay image
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/topology-aware-lifecycle-manager/catalog.yaml
Due: none

Configure catalog to include next z stream build (4.12.9) as a Konflux quay image
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/topology-aware-lifecycle-manager/catalog.yaml
Due: none

Fix comments to align with other releases
  .konflux/catalog/catalog-template.in.yaml
Due: none

Configure catalog to include next z stream build (4.16.5) as a Konflux quay image
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/topology-aware-lifecycle-manager/catalog.yaml
Due: none

Add comments to catalog template to align with previous releases
  .konflux/catalog/catalog-template.in.yaml
Due: none

Fix order for lines in template
  .konflux/catalog/catalog-template.in.yaml
Due: none

Add comprehensive unit tests for GetNextNonCompliantPolicyForCluster with dependency injection refactoring (#1994)
  controllers/clustergroupupgrade_controller.go
  controllers/policy.go
  controllers/policy_test.go
Due: none

Add the policies for the operator, include default-deny rule
  bundle/manifests/cluster-group-upgrades-default-deny_networking.k8s.io_v1_networkpolicy.yaml
  bundle/manifests/cluster-group-upgrades-operator_networking.k8s.io_v1_networkpolicy.yaml
  config/default/kustomization.yaml
  config/networkpolicies/deny_all.yaml
  config/networkpolicies/kustomization.yaml
  config/networkpolicies/operator.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Bump operator-sdk to version 1.40 which supports networkpolicies
  Makefile
  PROJECT
  bundle.Dockerfile
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Add network policies for the operator (#2116)
  Makefile
  PROJECT
  bundle.Dockerfile
  bundle/manifests/cluster-group-upgrades-default-deny_networking.k8s.io_v1_networkpolicy.yaml
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  bundle/manifests/cluster-group-upgrades-operator_networking.k8s.io_v1_networkpolicy.yaml
  bundle/metadata/annotations.yaml
  config/default/kustomization.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/networkpolicies/deny_all.yaml
  config/networkpolicies/kustomization.yaml
  config/networkpolicies/operator.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

OCPBUGS-58372: Fix TALM performing "afterCompletion" while blocked
  controllers/actions.go
  controllers/clustergroupupgrade_controller.go
  deploy/acm/policies/blocking_mechanisms/patch-partial.bash
  deploy/acm/policies/blocking_mechanisms/patch.bash
  deploy/upgrades/blocking-mechanisms/cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-setup-blocking-mechanisms.yaml
  tests/kuttl/cgu/blocking-mechanisms/01-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/02-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-complete-cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/04-cleanup-blocking-mechanisms.yaml
Due: none

Add IDMS configuration file for new integration test
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
Due: none

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)
