Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

topology-aware-lifecycle-manager-bundle-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-bundle-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

topology-aware-lifecycle-manager-recovery-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-recovery-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

OCPBUGS-128734: generate trailing newline for precache script (#12840)
  controllers/precache.go
  controllers/precache_test.go
  tests/kuttl/cgu/pre-caching-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

OCPBUGS-128734: generate trailing newline for precache script
  controllers/precache.go
  controllers/precache_test.go
  tests/kuttl/cgu/pre-caching-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Add topology-aware-lifecycle-manager v4.22.1 to 5.0 catalog template (#12835)
  .konflux/catalog/5.0/catalog-template.in.yaml
Due: none

OCPBUGS-128734: generate trailing newline for precache script (#13014)
  controllers/precache.go
  controllers/precache_test.go
  tests/kuttl/cgu/pre-caching-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Makefile: vendor dependencies in common-deps-update
  Makefile
Due: none

CNF-28135: Upstream release-config version bump (4.14.12)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Makefile: vendor dependencies in common-deps-update (#13031)
  Makefile
Due: none

CNF-28135: Upstream release-config version bump (4.14.12) (#13032)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Makefile: vendor dependencies in common-deps-update (#13041)
  Makefile
Due: none

Makefile: vendor dependencies in common-deps-update (#13034)
  Makefile
Due: none

Makefile: vendor dependencies in common-deps-update (#13036)
  Makefile
Due: none

Makefile: vendor dependencies in common-deps-update (#13033)
  Makefile
Due: none

Makefile: vendor dependencies in common-deps-update (#13037)
  Makefile
Due: none

Makefile: vendor dependencies in common-deps-update (#13035)
  Makefile
Due: none

Makefile: vendor dependencies in common-deps-update (#13039)
  Makefile
Due: none

Makefile: vendor dependencies in common-deps-update (#13040)
  Makefile
Due: none

CNF-28135: Upstream catalog-template update (4.14.12)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-28135: Upstream catalog-template update (4.14.12) (#13043)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-28172: Upstream release-config version bump (4.12.13)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-28172: Upstream release-config version bump (4.12.13) (#13044)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-28172: Upstream catalog-template update (4.12.13)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Update skipRange lower bound to >=4.23.0
  .konflux/catalog/catalog-template.in.yaml
Due: none

Makefile: vendor dependencies in common-deps-update (#13038)
  Makefile
Due: none

Replace text/template with structured object construction for precache CM (#10175)
  controllers/managedClusterResources.go
  controllers/managedClusterResources_test.go
  controllers/precache.go
  controllers/precache_test.go
  controllers/templates/precache-templates.go
  tests/kuttl/tests/pre-caching-complete/01-assert.yaml
  tests/kuttl/tests/pre-caching-partial-complete/01-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/02-assert.yaml
Due: none

Replace text/template with structured object construction for precache CM (#10175)
  controllers/managedClusterResources.go
  controllers/managedClusterResources_test.go
  controllers/precache.go
  controllers/precache_test.go
  controllers/templates/precache-templates.go
  tests/kuttl/cgu/pre-caching-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
Due: none

CNF-28172: Upstream catalog-template update (4.12.13) (#13083)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

OCPBUGS-128734: generate trailing newline for precache script (#12840) (#13019)
  controllers/precache.go
  controllers/precache_test.go
  tests/kuttl/cgu/pre-caching-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)
