Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)

CNF-18555: Migrate golang builder from brew to registry.redhat.io
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

CNF-18555: Migrate golang builder from brew to registry.redhat.io
  .konflux/Dockerfile.catalog
  .konflux/Dockerfile.catalog.4.22
  .konflux/container_build_args.conf
Due: none

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#12643)
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#12641)
  .konflux/Dockerfile.catalog
  .konflux/Dockerfile.catalog.4.22
  .konflux/container_build_args.conf
Due: none

update generated code
  pkg/generated/applyconfiguration/clustergroupupgrades/v1alpha1/clustergroupupgrade.go
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/informers/externalversions/clustergroupupgrades/v1alpha1/clustergroupupgrade.go
  pkg/generated/informers/externalversions/clustergroupupgrades/v1alpha1/interface.go
  pkg/generated/informers/externalversions/factory.go
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#12642)
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#12637)
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#12640)
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#12644)
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#12645)
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#12639)
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#12638)
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

Bump google.golang.org/grpc from v1.82.1 to v1.83.2
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_noplan9.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_plan9.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcsync/callback_serializer.go
  vendor/google.golang.org/grpc/internal/mem/buffer_pool.go
  vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/mem/buffer_pool.go
  vendor/google.golang.org/grpc/mem/buffers.go
  vendor/google.golang.org/grpc/stream.go
  vendor/modules.txt
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-27688: Upstream release-config version bump (4.22.1)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-27688: Upstream release-config version bump (4.22.1) (#12831)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-27700: Upstream release-config version bump (4.21.4)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-27688: Upstream catalog-template update (4.22.1)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-27688: Upstream catalog-template update (4.22.1) (#12834)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Add topology-aware-lifecycle-manager v4.22.1 to 4.22 catalog template
  .konflux/catalog/4.22/catalog-template.in.yaml
Due: none

Add topology-aware-lifecycle-manager v4.22.1 to 5.0 catalog template
  .konflux/catalog/5.0/catalog-template.in.yaml
Due: none

Add topology-aware-lifecycle-manager v4.22.1 to 4.22 catalog template (#12836)
  .konflux/catalog/4.22/catalog-template.in.yaml
Due: none

chore: trigger PAC pipeline for 4.22 catalog [NEW-4-22-BUNDLE]
  .konflux/catalog/4.22/catalog-template.in.yaml
Due: none

CNF-27700: Upstream release-config version bump (4.21.4) (#12833)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-27786: Upstream release-config version bump (4.16.10)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

OCPBUGS-128734: generate trailing newline for precache script
  controllers/precache.go
  controllers/precache_test.go
  tests/kuttl/cgu/pre-caching-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-27786: Upstream release-config version bump (4.16.10) (#12839)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-27786: Upstream catalog-template update (4.16.10)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-27786: Upstream catalog-template update (4.16.10) (#12881)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-27805: Migrate to native Go FIPS (GOFIPS140)
  Dockerfile
  Dockerfile.aztp
  Dockerfile.recovery
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

catalog-template: update for TALM 4.21.4 release
  .konflux/catalog/catalog-template.in.yaml
Due: none

Update bundle.builds.in.yaml with latest bundle digest
  .konflux/catalog/bundle.builds.in.yaml
Due: none

Bump google.golang.org/grpc from v1.82.1 to v1.83.2 (#12830)
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_noplan9.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_plan9.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcsync/callback_serializer.go
  vendor/google.golang.org/grpc/internal/mem/buffer_pool.go
  vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/mem/buffer_pool.go
  vendor/google.golang.org/grpc/mem/buffers.go
  vendor/google.golang.org/grpc/stream.go
  vendor/modules.txt
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request
