Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)

CNF-21917: Fix min_kube_version for OCP 4.21 (1.32.0 -> 1.34.0) (#6900)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

fix: correctly identify OLM channel head in pre-cache
  .gitignore
  pre-cache/parse_index.py
  pre-cache/test.sh
  pre-cache/test_parse_index.py
Due: none

Fix trailing whitespace in test-kustomize.sh
  hack/test-kustomize.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-22111: update skipRange for release-4.12
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22111: update skipRange for release-4.14
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22111: update skipRange for release-4.16
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22111: update skipRange for release-4.17
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22111: update skipRange for release-4.18
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22111: update skipRange for release-4.19
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22111: update skipRange for release-4.21
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22111: update skipRange for release-4.20
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22111: update skipRange for main
  .konflux/catalog/catalog-template.in.yaml
Due: none

Remove redundant skipRange for topology-aware-lifecycle-manager version 4.12.0 in catalog-template.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

update push-dockerfile-oci-ta task hash
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

update push-dockerfile-oci-ta task hash (#7246)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

update push-dockerfile-oci-ta task hash (#7239)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

update push-dockerfile-oci-ta task hash (#7240)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

update push-dockerfile-oci-ta task hash (#7241)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

update push-dockerfile-oci-ta task hash (#7247)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

update push-dockerfile-oci-ta task hash (#7242)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

update push-dockerfile-oci-ta task hash (#7243)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

update push-dockerfile-oci-ta task hash (#7244)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

update push-dockerfile-oci-ta task hash (#7245)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

fix: correctly identify OLM channel head in pre-cache (#7093)
  .gitignore
  pre-cache/parse_index.py
  pre-cache/test.sh
  pre-cache/test_parse_index.py
Due: none

CNF-22471: Bump release overlay version to 4.21.2
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-22471: Bump release overlay version to 4.21.2 (#7385)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-22515: Update ubi9 tag to `latest` - The latest version is now 9.7 - We should use latest so we receive updates automatically
  Dockerfile.precache
Due: none

fix: correctly identify OLM channel head in pre-cache (#7384)
  .gitignore
  pre-cache/parse_index.py
  pre-cache/test.sh
  pre-cache/test_parse_index.py
Due: none
