Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

topology-aware-lifecycle-manager-bundle-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-bundle-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

topology-aware-lifecycle-manager-recovery-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-recovery-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

Separate download and run tasks for bashate, golangci-lint, and shellcheck
  Makefile
Due: none

Separate download and run targets for yamllint - Its a little bit cleaner if they are separate targets
  Makefile
Due: none

Use absolute paths when referencing hack scripts
  Makefile
Due: none

Ensure when exporting $PATH that the $LOCALBIN value is an absolute path - If this is exported using a relative path then weird things can happen
  Makefile
Due: none

[release-4.12] Makefile robustness updates (#3586)
  .konflux/Dockerfile.catalog
  Makefile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-aztp-4-16
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-16-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-precache-4-16
  Dockerfile.precache
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-recovery-4-16
  Dockerfile.recovery
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-4-16
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-bundle-4-16
  .konflux/Dockerfile.bundle
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-aztp-4-18
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-18-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-bundle-4-18
  .konflux/Dockerfile.bundle
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-precache-4-18
  Dockerfile.precache
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-recovery-4-18
  Dockerfile.recovery
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-4-18
  Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-aztp-4-17
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-17-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-aztp-4-19
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-aztp-4-19 (#3807)
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-aztp-4-16 (#3808)
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-16-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-*
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-* (#3962)
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-*
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-18-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-*
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-17-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-*
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Sort on-cel-expression file paths && add telco5g-konflux to it (#3945)
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

[release-4.19] Konflux Backports (#4009)
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-*
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-12-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for topology-aware-lifecycle-manager-*
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-14-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

[release-4.17] Konflux Backports (#4007)
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-17-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

[release-4.16] Konflux Backports (#4006)
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-16-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Remove default name label from build-pipeline - this is passed in via the additional-labels field instead
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

[release-4.12] Konflux Backports (#4004)
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-12-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Remove default name label from build-pipeline (#4019)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

[release-4.14] Konflux Backports (#4005)
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-14-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)
