Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

topology-aware-lifecycle-manager-bundle-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-bundle-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

topology-aware-lifecycle-manager-recovery-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-recovery-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

Add yamllint key to yamllint configuration
  .yamllint.yaml
Due: none

Replace non-standard quotes with regular quotes
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update bindata script to fix shellcheck warnings exposed by updated linter
  recovery/bindata/upgrade-recovery.sh
  recovery/generated/zz_generated.bindata.go
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix bashate warning
  deploy/acm/policies/cluster_selector/apply_policies.sh
Due: none

Update owners configuration (#3083)
  .konflux/OWNERS
  .tekton/OWNERS
  OWNERS
  OWNERS_ALIASES
Due: none

Update renovate configuration - Replace fileMatches with managerFilePatterns - Fix baseBranches regex
  renovate.json
Due: none

Update renovate configuration - Add regex for the rhel8 version of the kube rbac proxy - This is required so 4.12 through 4.15 update correctly
  renovate.json
Due: none

Update renovate configuration - Remove baseBranches configuration as this has some conflicts with Mintmaker usage - Add "git-submodules" section - Add "at any time" schedules to several sections
  renovate.json
Due: none

remove network policies from bundle (temporary) (#3029)
  bundle/manifests/cluster-group-upgrades-default-deny_networking.k8s.io_v1_networkpolicy.yaml
  bundle/manifests/cluster-group-upgrades-operator_networking.k8s.io_v1_networkpolicy.yaml
  config/default/kustomization.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update telco5g-konflux subproject to latest commit
  .gitmodules
Due: none

Fix the apiVersion for IDMS files (#3315)
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .tekton/images-mirror-set.yaml
Due: none

Bump version number in overlay to 4.18.2
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Bump version number in overlay to 4.16.6
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Bump version number in overlay to 4.16.6 (#3384)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Update catalog template for next release
  .konflux/catalog/catalog-template.in.yaml
Due: none

Align with changes from oran
  .konflux/Dockerfile.catalog
  Makefile
Due: none

Red Hat Konflux purge topology-aware-lifecycle-manager-bundle-4-13
  .tekton/topology-aware-lifecycle-manager-bundle-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-13-push.yaml
Due: none

Red Hat Konflux purge topology-aware-lifecycle-manager-4-13
  .tekton/topology-aware-lifecycle-manager-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-13-push.yaml
Due: none

Red Hat Konflux purge topology-aware-lifecycle-manager-recovery-4-13
  .tekton/topology-aware-lifecycle-manager-recovery-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-13-push.yaml
Due: none

Red Hat Konflux purge topology-aware-lifecycle-manager-precache-4-13
  .tekton/topology-aware-lifecycle-manager-precache-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-13-push.yaml
Due: none

Red Hat Konflux purge topology-aware-lifecycle-manager-recovery-4-15
  .tekton/topology-aware-lifecycle-manager-recovery-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-15-push.yaml
Due: none

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)
