Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

topology-aware-lifecycle-manager-bundle-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-bundle-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

topology-aware-lifecycle-manager-recovery-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-recovery-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

Fix misssing fields so that information is shown in OperatorHub page. (#2863)
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix InspectPolicyObjects function to allow hub side templates and empty object definitions
  controllers/utils/policy_util.go
Due: none

update policy_util_test
  controllers/utils/policy_util_test.go
Due: none

OCPBUGS-59601: Fix missing CSV fields (#2681) (#2860)
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

OCPBUGS-59601: Fix missing CSV fields (#2681) (#2836)
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

OCPBUGS-60024: Fix InspectPolicyObjects function to allow hub side templates (#2865)
  controllers/utils/policy_util.go
  controllers/utils/policy_util_test.go
Due: none

Exclude telco5g-konflux subproject from linters
  hack/bashate.sh
  hack/shellcheck.sh
  hack/yamllint.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Add `telco5g-konflux` submodule to project
  .gitmodules
Due: none

Upversion golang to 1.24 (#2864)
  .ci-operator.yaml
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
  Dockerfile
  Dockerfile.aztp
  Dockerfile.recovery
  controllers/managedClusterResources.go
  go.mod
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-18555: Replace brew version of opm image with released version
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

Remove logging the deprecated field `requeue`
  controllers/clustergroupupgrade_controller.go
  controllers/imagebasedgroupupgrade.go
Due: none

Fix yamllint warnings and errors
  .ci-operator.yaml
  .github/dependabot.yml
  .golangci.yml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-push.yaml
  kuttl-test.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix yamllint warnings and errors
  .yamllint.yaml
  hack/yamllint.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Exclude generated Konflux files from yamllint
  .yamllint.yaml
Due: none

Backport linter configuration and fixes - Update .yamllint.yaml configuration - Fix linter warnings in linted files
  .ci-operator.yaml
  .github/dependabot.yml
  .golangci.yml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
  .yamllint.yaml
  hack/yamllint.sh
  kuttl-test.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Backport linter configuration and fixes - Update .yamllint.yaml configuration - Fix linter warnings in linted files
  .github/dependabot.yml
  .golangci.yml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-17-push.yaml
  hack/yamllint.sh
  kuttl-test.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Backport linter configuration and fixes - Update .yamllint.yaml configuration - Fix linter warnings in linted files
  .github/dependabot.yml
  .golangci.yml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-13-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-13-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-13-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-13-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-13-push.yaml
  .yamllint.yaml
  hack/yamllint.sh
  kuttl-test.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Backport linter configuration and fixes - Update .yamllint.yaml configuration - Fix linter warnings in linted files
  .golangci.yml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-12-push.yaml
  .yamllint.yaml
  hack/yamllint.sh
  kuttl-test.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Backport linter configuration and fixes - Update .yamllint.yaml configuration - Fix linter warnings in linted files
  .github/dependabot.yml
  .golangci.yml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-14-push.yaml
  .yamllint.yaml
  hack/yamllint.sh
  kuttl-test.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Backport linter configuration and fixes - Update .yamllint.yaml configuration - Fix linter warnings in linted files
  .ci-operator.yaml
  .github/dependabot.yml
  .golangci.yml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-15-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-15-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-15-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-15-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-15-push.yaml
  .yamllint.yaml
  hack/yamllint.sh
  kuttl-test.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Backport linter configuration and fixes - Update .yamllint.yaml configuration - Fix linter warnings in linted files
  .ci-operator.yaml
  .github/dependabot.yml
  .golangci.yml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-16-push.yaml
  .yamllint.yaml
  hack/yamllint.sh
  kuttl-test.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update kube-rbac-proxy to the newer version
  .konflux/overlay/pin_images.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Update renovate configuration - Configure baseBranches to update main and all release branches - Add regex to keep kube rbac proxy up to date - Fix formatting
  renovate.json
Due: none

Backport linter configuration and fixes - Update .yamllint.yaml configuration - Fix linter warnings in linted files
  .ci-operator.yaml
  .github/dependabot.yml
  .golangci.yml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-18-push.yaml
  .yamllint.yaml
  hack/yamllint.sh
  kuttl-test.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update renovate configuration (#3012)
  renovate.json
Due: none

Backport linter configuration and fixes (#3001)
  .ci-operator.yaml
  .github/dependabot.yml
  .golangci.yml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
  .yamllint.yaml
  hack/yamllint.sh
  kuttl-test.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

remove network policies from bundle (temporary)
  bundle/manifests/cluster-group-upgrades-default-deny_networking.k8s.io_v1_networkpolicy.yaml
  bundle/manifests/cluster-group-upgrades-operator_networking.k8s.io_v1_networkpolicy.yaml
  config/default/kustomization.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Replace non-standard quotes with regular quotes
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Add yamllint key to yamllint configuration
  .yamllint.yaml
Due: none

Fix yamllint configuration - Forgot to include this in this branch previously
  .yamllint.yaml
Due: none

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)
