Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

topology-aware-lifecycle-manager-bundle-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-bundle-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

topology-aware-lifecycle-manager-recovery-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-recovery-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

Update `on-cel-expression` values for tekton pipelines to limit unnecessary builds (#1159)
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix build argument formatting in 4.19 - Forgot to include this earlier
  .konflux/konflux_build_args.conf
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update `on-cel-expression` values for tekton pipelines to limit unnecessary builds
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
Due: none

Add missing vertical bar to yaml multiline string
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Fix event type for recovery on-push pipeline
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
Due: none

WIP: Sample production release and snapshot CRs
  .konflux/releases/4.19.0/release-topology-aware-lifecycle-manager-4-19-0.yaml
  .konflux/releases/4.19.0/snapshot-topology-aware-lifecycle-manager-4-19-0.yaml
  .konflux/releases/4.20.0/release-topology-aware-lifecycle-manager-4-20-0.yaml
  .konflux/releases/4.20.0/snapshot-topology-aware-lifecycle-manager-4-20-0.yaml
Due: none

Fix event type for recovery on-push pipeline
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-push.yaml
Due: none

Update renovate.json configuration
  renovate.json
Due: none

Conform to new Konflux policy - OLM Bundle images must not be multi arch - Create parameter to allow setting image-append-platform to false just for bundle
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Conform to new Konflux policy (#1206)
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Skip sast-coverity tekton task - The task is very slow and regularly times out - The task is already optional, so let's stop wasting time
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Conform to new Konflux policy - OLM Bundle images must not be multi arch - Create parameter to allow setting image-append-platform to false just for bundle
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Skip sast-coverity tekton task - The task is very slow and regularly times out - The task is already optional, so let's stop wasting time
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix overlay.bash bug that would cause FBC problems later
  .konflux/overlay/overlay.bash
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Fix tag used for golang builder - The previous tag is not necessarily rhel9, we need to use a more specific tag - Update digest to latest version of the new tag
  .konflux/konflux_build_args.conf
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

[release-4.19] Backport additional Konflux changes (#1222)
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix overlay.bash bug that would cause FBC problems later (#1228)
  .konflux/overlay/overlay.bash
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

WIP: Test ci
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
Due: none

Activate production registry mapping for Konflux bundle
  .konflux/bundle.konflux.Dockerfile
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Activate production registry mapping for Konflux bundle (#1231)
  .konflux/bundle.konflux.Dockerfile
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

WIP: Test ci
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Remove unnecessary `konflux` prefixes from file names
  .konflux/bundle.Dockerfile
  .konflux/container_build_args.conf
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Remove unnecessary `konflux` prefixes from file names
  .konflux/bundle.Dockerfile
  .konflux/container_build_args.conf
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
Due: none

Konflux build pipeline service account migration for topology-aware-lifecycle-manager-4-19 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-push.yaml
Due: none

Konflux build pipeline service account migration for topology-aware-lifecycle-manager-aztp-4-19 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-push.yaml
Due: none

Konflux build pipeline service account migration for topology-aware-lifecycle-manager-bundle-4-19 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
Due: none

Konflux build pipeline service account migration for topology-aware-lifecycle-manager-precache-4-19 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-precache-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-push.yaml
Due: none

Konflux build pipeline service account migration for topology-aware-lifecycle-manager-recovery-4-19 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-bundle-4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-bundle-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-14-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-bundle-4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-bundle-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-13-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-bundle-4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-bundle-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-15-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-bundle-4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-bundle-4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-bundle-4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-bundle-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-18-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-bundle-4-12 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-bundle-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-12-push.yaml
Due: none

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)
