Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

topology-aware-lifecycle-manager-bundle-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-bundle-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

topology-aware-lifecycle-manager-recovery-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-recovery-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

Red Hat Konflux update topology-aware-lifecycle-manager-4-22
  .tekton/topology-aware-lifecycle-manager-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-22-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-aztp-4-22
  .tekton/topology-aware-lifecycle-manager-aztp-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-22-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-precache-4-22
  .tekton/topology-aware-lifecycle-manager-precache-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-22-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-recovery-4-22
  .tekton/topology-aware-lifecycle-manager-recovery-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-22-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-fbc-4-22
  .tekton/topology-aware-lifecycle-manager-fbc-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-22-push.yaml
Due: none

CNF-20581: Update konflux items for release-4.21
  .tekton/topology-aware-lifecycle-manager-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-21-push.yaml
Due: none

CNF-20581: Konflux updates for 4.22
  .ci-operator.yaml
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/container_build_args.conf
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-22-push.yaml
  Makefile
  hack/add-sidecar-csv.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-20581: Update konflux items for release-4.21 (#5492)
  .tekton/topology-aware-lifecycle-manager-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-21-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-21-push.yaml
Due: none

Add by2waysproejcts as a reviewer
  OWNERS_ALIASES
Due: none

CNF-20581: Downgrade OPM image used in main - OCP 4.22 operator index does not exist yet, so we need to use the 4.21 image for now
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

Add by2waysproejcts as a reviewer (#5497)
  OWNERS_ALIASES
Due: none

Add by2waysproejcts as a reviewer (#5531)
  OWNERS_ALIASES
Due: none

Add by2waysproejcts as a reviewer (#5527)
  OWNERS_ALIASES
Due: none

Add by2waysproejcts as a reviewer (#5530)
  OWNERS_ALIASES
Due: none

Add by2waysproejcts as a reviewer (#5525)
  OWNERS_ALIASES
Due: none

Add by2waysproejcts as a reviewer (#5524)
  OWNERS_ALIASES
Due: none

Add by2waysproejcts as a reviewer (#5526)
  OWNERS_ALIASES
Due: none

Add by2waysproejcts as a reviewer (#5528)
  OWNERS_ALIASES
Due: none

Add by2waysproejcts as a reviewer (#5529)
  OWNERS_ALIASES
Due: none

test new catalog sha256 mapping
  .konflux/catalog/catalog-template.in.yaml
  .tekton/fbc-pipeline.yaml
Due: none

run pipeline without leveraging bundle.builds.in.yaml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .tekton/fbc-pipeline.yaml
Due: none

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Bump logrus from v1.9.0 to v1.9.3 to fix CVE-2025-65637
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Bump github.com/sirupsen/logrus from v1.8.1 to v1.8.3 to fix CVE-2025-65637
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update logrus from v1.8.3 to v1.9.3 to fix empty tokens bug
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

OCPBUGS-69773: Bump github.com/sirupsen/logrus from v1.8.1 to v1.9.3 to fix CVE-2025-65637 (#5651)
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-21239: Update FBC base image to 4.22
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

CNF-21239: Update FBC base image to 4.22 (#5875)
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

chore(deps): update topology-aware-lifecycle-manager to version 4.21.1
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

chore(deps): update topology-aware-lifecycle-manager to version 4.21.1 (#6358)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)
