Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

topology-aware-lifecycle-manager-bundle-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-bundle-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

topology-aware-lifecycle-manager-recovery-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-recovery-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

Address PR #10959 review feedback: improve error handling and type safety
  controllers/clustergroupupgrade_controller.go
  controllers/policy.go
  controllers/policy_test.go
  controllers/utils/constants.go
  controllers/utils/policy_util.go
  controllers/utils/policy_util_test.go
Due: none

Update FBC base image namespace from openshift4 to openshift5 for OCP 5.0
  .konflux/Dockerfile.catalog
Due: none

Update FBC base image namespace from openshift4 to openshift5 for OCP 5.0 (#11164)
  .konflux/Dockerfile.catalog
Due: none

Detect missing ManagedClusterSetBindings and surface in CGU status (#10959)
  controllers/clustergroupupgrade_controller.go
  controllers/managedclusterForCGU_controller_test.go
  controllers/policy.go
  controllers/policy_test.go
  controllers/utils/conditions.go
  controllers/utils/constants.go
  controllers/utils/policy_util.go
  controllers/utils/policy_util_test.go
  main.go
  tests/kuttl/cgu/duplicated-managed-policy-name/02-assert.yaml
  vendor/modules.txt
  vendor/open-cluster-management.io/api/cluster/v1beta1/0000_02_clusters.open-cluster-management.io_placements.crd.yaml
  vendor/open-cluster-management.io/api/cluster/v1beta1/0000_03_clusters.open-cluster-management.io_placementdecisions.crd.yaml
  vendor/open-cluster-management.io/api/cluster/v1beta1/doc.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/types_placement.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/types_placementdecision.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/zz_generated.deepcopy.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/zz_generated.model_name.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/zz_generated.register.go
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Improve kuttl test stability
  deploy/acm/policies/all_policies/child-policy0-dependency.yaml
  deploy/acm/policies/all_policies/child-policy1-dependency.yaml
  deploy/acm/policies/all_policies/policy0-dependency.yaml
  deploy/acm/policies/all_policies/policy1-dependency.yaml
  deploy/upgrades/dependency-order/cgu.yaml
  deploy/upgrades/dependency-order/patch-policies-status.sh
  tests/kuttl/cgu/dependency-order/00-assert.yaml
  tests/kuttl/cgu/dependency-order/01-assert.yaml
  tests/kuttl/cgu/dependency-order/01-change-managed-policy-order.yaml
Due: none

Improve kuttl test stability (#11171)
  deploy/acm/policies/all_policies/child-policy0-dependency.yaml
  deploy/acm/policies/all_policies/child-policy1-dependency.yaml
  deploy/acm/policies/all_policies/policy0-dependency.yaml
  deploy/acm/policies/all_policies/policy1-dependency.yaml
  deploy/upgrades/dependency-order/cgu.yaml
  deploy/upgrades/dependency-order/patch-policies-status.sh
  tests/kuttl/cgu/dependency-order/00-assert.yaml
  tests/kuttl/cgu/dependency-order/01-assert.yaml
  tests/kuttl/cgu/dependency-order/01-change-managed-policy-order.yaml
Due: none

CNF-20319: Add phony make targets for binaries (#11246)
  Makefile
Due: none

CNF-26586: Update registry namespace from openshift4 to openshift5
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-0-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-26586: Update registry namespace from openshift4 to openshift5 (#11165)
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-0-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-26586: Remove openshift4 entry from catalog-idms
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
Due: none

CNF-26586: Remove openshift4 entry from catalog-idms (#11362)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
Due: none

Improve kuttl test stability (#11247)
  deploy/acm/policies/all_policies/child-policy0-dependency.yaml
  deploy/acm/policies/all_policies/child-policy1-dependency.yaml
  deploy/acm/policies/all_policies/policy0-dependency.yaml
  deploy/acm/policies/all_policies/policy1-dependency.yaml
  deploy/upgrades/dependency-order/cgu.yaml
  deploy/upgrades/dependency-order/patch-policies-status.sh
  tests/kuttl/cgu/dependency-order/00-assert.yaml
  tests/kuttl/cgu/dependency-order/01-assert.yaml
  tests/kuttl/cgu/dependency-order/01-change-managed-policy-order.yaml
Due: none

Replace text/template with structured object construction for precache CM (#10175)
  controllers/managedClusterResources.go
  controllers/managedClusterResources_test.go
  controllers/precache.go
  controllers/precache_test.go
  controllers/templates/precache-templates.go
  tests/kuttl/cgu/pre-caching-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
Due: none

Replace text/template with structured object construction for precache CM (#10175)
  controllers/managedClusterResources.go
  controllers/managedClusterResources_test.go
  controllers/precache.go
  controllers/precache_test.go
  controllers/templates/precache-templates.go
  tests/kuttl/tests/pre-caching-complete/01-assert.yaml
  tests/kuttl/tests/pre-caching-partial-complete/01-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/02-assert.yaml
Due: none

Deprecate unused PreCachingConfig override fields (#10171) (#10586)
  bundle/manifests/ran.openshift.io_precachingconfigs.yaml
  config/crd/bases/ran.openshift.io_precachingconfigs.yaml
  controllers/managedClusterResources.go
  controllers/preCachingConfig.go
  controllers/preCachingConfig_test.go
  controllers/precache.go
  deploy/upgrades/pre-caching/pre-caching-config-cr.yaml
  deploy/upgrades/pre-caching/pre-caching-with-configs.yaml
  pkg/api/clustergroupupgrades/v1alpha1/types.go
  tests/kuttl/cgu/pre-caching-with-configs/00-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/00-setup-with-pre-caching-config-missing.yaml
  tests/kuttl/cgu/pre-caching-with-configs/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/03-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/04-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/05-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/06-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Improve kuttl test stability (#11433)
  deploy/acm/policies/all_policies/child-policy0-dependency.yaml
  deploy/acm/policies/all_policies/child-policy1-dependency.yaml
  deploy/acm/policies/all_policies/policy0-dependency.yaml
  deploy/acm/policies/all_policies/policy1-dependency.yaml
  deploy/upgrades/dependency-order/cgu.yaml
  deploy/upgrades/dependency-order/patch-policies-status.sh
  tests/kuttl/cgu/dependency-order/00-assert.yaml
  tests/kuttl/cgu/dependency-order/01-assert.yaml
  tests/kuttl/cgu/dependency-order/01-change-managed-policy-order.yaml
Due: none

CNF-26799: Skip catalog-template update in FBC pipeline
  .tekton/fbc-pipeline.yaml
Due: none

CNF-26799: Seed catalog-template with released 4.22.0 bundle
  .konflux/catalog/catalog-template.in.yaml
Due: none

Deprecate unused PreCachingConfig override fields (#10171) (#10584)
  bundle/manifests/ran.openshift.io_precachingconfigs.yaml
  config/crd/bases/ran.openshift.io_precachingconfigs.yaml
  controllers/managedClusterResources.go
  controllers/preCachingConfig.go
  controllers/preCachingConfig_test.go
  controllers/precache.go
  deploy/upgrades/pre-caching/pre-caching-config-cr.yaml
  deploy/upgrades/pre-caching/pre-caching-with-configs.yaml
  pkg/api/clustergroupupgrades/v1alpha1/types.go
  tests/kuttl/cgu/pre-caching-with-configs/00-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/00-setup-with-pre-caching-config-missing.yaml
  tests/kuttl/cgu/pre-caching-with-configs/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/03-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/04-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/05-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/06-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Replace text/template with structured object construction for precache CM (#10175) (#11426)
  controllers/managedClusterResources.go
  controllers/managedClusterResources_test.go
  controllers/precache.go
  controllers/precache_test.go
  controllers/templates/precache-templates.go
  tests/kuttl/cgu/pre-caching-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
Due: none

[BRANCH-CUT] Prepare release-5.0 branch
  .konflux/catalog/catalog-template.in.yaml
  .tekton/topology-aware-lifecycle-manager-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-0-push.yaml
Due: none

[BRANCH-CUT] Bump to 5.1 and prepare release-5.0
  .ci-operator.yaml
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-5-1-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-5-1-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-1-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-1-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-1-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-1-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-5-1-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-5-1-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-1-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-1-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-1-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-1-push.yaml
  Makefile
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
  hack/add-sidecar-csv.sh
  tests/kuttl/cgu/backup-complete/02-assert.yaml
  tests/kuttl/cgu/backup-fail/02-assert.yaml
  tests/kuttl/cgu/backup-partial-complete/02-assert.yaml
  tests/kuttl/cgu/pre-caching-complete/03-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/03-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/04-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Quote variable expansions in pre-cache shell scripts (#10254) (#11044)
  pre-cache/common
  pre-cache/olm
  pre-cache/pull
  pre-cache/release
  pre-cache/test.sh
Due: none

Quote variable expansions in pre-cache shell scripts (#10254) (#11037)
  pre-cache/check_space.sh
  pre-cache/common.sh
  pre-cache/olm.sh
  pre-cache/pull.sh
  pre-cache/release.sh
  pre-cache/test.sh
Due: none

Quote variable expansions in pre-cache shell scripts (#10254) (#11043)
  pre-cache/check_space
  pre-cache/common
  pre-cache/olm
  pre-cache/pull
  pre-cache/release
  pre-cache/test.sh
Due: none

Quote variable expansions in pre-cache shell scripts (#10254) (#11041)
  pre-cache/check_space.sh
  pre-cache/common.sh
  pre-cache/olm.sh
  pre-cache/pull.sh
  pre-cache/release.sh
  pre-cache/test.sh
Due: none

Quote variable expansions in pre-cache shell scripts (#10254) (#11039)
  pre-cache/check_space.sh
  pre-cache/common.sh
  pre-cache/olm.sh
  pre-cache/pull.sh
  pre-cache/release.sh
  pre-cache/test.sh
Due: none

Quote variable expansions in pre-cache shell scripts (#10254) (#11038)
  pre-cache/check_space.sh
  pre-cache/common.sh
  pre-cache/olm.sh
  pre-cache/pull.sh
  pre-cache/release.sh
  pre-cache/test.sh
Due: none

Improve kuttl test stability (#11660)
  deploy/acm/policies/all_policies/child-policy0-dependency.yaml
  deploy/acm/policies/all_policies/child-policy1-dependency.yaml
  deploy/acm/policies/all_policies/policy0-dependency.yaml
  deploy/acm/policies/all_policies/policy1-dependency.yaml
  deploy/upgrades/dependency-order/cgu.yaml
  deploy/upgrades/dependency-order/patch-policies-status.sh
  tests/kuttl/cgu/dependency-order/00-assert.yaml
  tests/kuttl/cgu/dependency-order/01-assert.yaml
  tests/kuttl/cgu/dependency-order/01-change-managed-policy-order.yaml
Due: none

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)
