Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)

Red Hat Konflux purge topology-aware-lifecycle-manager-fbc-4-17
  .tekton/topology-aware-lifecycle-manager-fbc-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-17-push.yaml
Due: none

CNF-22798: Upstream release-config version bump (4.19.3)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-22810: Upstream release-config version bump (4.16.8)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-22810: Upstream release-config version bump (4.16.8) (#7992)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-22798: Upstream release-config version bump (4.19.3) (#7991)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-22810: Upstream catalog-template update (4.16.8)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22798: Upstream catalog-template update (4.19.3)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22867: Upstream release-config version bump (4.20.2)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-22798: Upstream catalog-template update (4.19.3) (#8062)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22867: Upstream release-config version bump (4.20.2) (#8086)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Disable sast coverity task - The license is no longer valid - Also this task is slow
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Disable sast coverity task (#8204)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update quay image digest in bundle.builds.in.yaml
  .konflux/catalog/bundle.builds.in.yaml
Due: none

Upversion to 5.0.0
  Makefile
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
  tests/kuttl/cgu/backup-complete/02-assert.yaml
  tests/kuttl/cgu/backup-fail/02-assert.yaml
  tests/kuttl/cgu/backup-partial-complete/02-assert.yaml
  tests/kuttl/cgu/pre-caching-complete/03-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/03-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

[BRANCH-CUT] Bump to 5.0 and prepare release-4.22
  .ci-operator.yaml
  .konflux/Dockerfile.bundle
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-0-push.yaml
  Makefile
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
  hack/add-sidecar-csv.sh
  tests/kuttl/cgu/backup-complete/02-assert.yaml
  tests/kuttl/cgu/backup-fail/02-assert.yaml
  tests/kuttl/cgu/backup-partial-complete/02-assert.yaml
  tests/kuttl/cgu/pre-caching-complete/03-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/03-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

[BRANCH-CUT] Prepare release-4.22: replace main with release-4.22 in tekton pipelines
  .tekton/topology-aware-lifecycle-manager-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-22-push.yaml
Due: none

Upversion to 5.0.0 (#8288)
  Makefile
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
  tests/kuttl/cgu/backup-complete/02-assert.yaml
  tests/kuttl/cgu/backup-fail/02-assert.yaml
  tests/kuttl/cgu/backup-partial-complete/02-assert.yaml
  tests/kuttl/cgu/pre-caching-complete/03-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/03-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

[BRANCH-CUT] Prepare release-4.22: replace main with release-4.22 in tekton pipelines (#8340)
  .tekton/topology-aware-lifecycle-manager-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-22-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-22-push.yaml
Due: none

CNF-22981: update renovate labels and git-submodules config
  renovate.json
Due: none

CNF-22981: update renovate labels and git-submodules config (#8392)
  renovate.json
Due: none

CNF-22810: Upstream catalog-template update — Topology Aware Lifecycle Manager 4.16.8 (#8061)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

fix: restore execute permission on hack/add-sidecar-csv.sh
  hack/add-sidecar-csv.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

[BRANCH-CUT] Bump to 5.0 and prepare release-4.22 (#8339)
  .ci-operator.yaml
  .konflux/Dockerfile.bundle
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/topology-aware-lifecycle-manager-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-22-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-5-0-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-0-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-5-0-push.yaml
  Makefile
  hack/add-sidecar-csv.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

CNF-23199: Upstream release-config version bump (4.21.2)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-23199: Upstream release-config version bump (4.21.2) (#8510)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-23199: Upstream catalog-template update (4.21.2)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Update image SHA in bundle.builds.in.yaml
  .konflux/catalog/bundle.builds.in.yaml
Due: none

CNF-23199: Upstream catalog-template update — Topology Aware Lifecycle Manager 4.21.2 (#8553)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-23549: Upstream release-config version bump (4.18.4)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-23549: Upstream release-config version bump (4.18.4) (#8715)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

CNF-23549: Upstream catalog-template update (4.18.4)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-23549: Upstream catalog-template update (4.18.4) (#8783)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22981: disable automerge and autoApprove in renovate config
  renovate.json
Due: none

CNF-22981: disable automerge and autoApprove in renovate config (#8842)
  renovate.json
Due: none

CNF-21917: Fix min_kube_version for OCP 4.22 (1.32.0 -> 1.35.0)
  .konflux/overlay/release.in.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request
