Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)

Update IDMS api version - This should no longer be v1alpha1 - Also add clarifying comments to IDMS files
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .tekton/images-mirror-set.yaml
Due: none

Update IDMS api version - This should no longer be v1alpha1 - Also add clarifying comments to IDMS files (#2547)
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .tekton/images-mirror-set.yaml
Due: none

Update IDMS api version - This should no longer be v1alpha1 - Also add clarifying comments to IDMS files (#2541)
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .tekton/images-mirror-set.yaml
Due: none

Update IDMS api version - This should no longer be v1alpha1 - Also add clarifying comments to IDMS files (#2546)
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .tekton/images-mirror-set.yaml
Due: none

Update IDMS api version - This should no longer be v1alpha1 - Also add clarifying comments to IDMS files (#2544)
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .tekton/images-mirror-set.yaml
Due: none

Update IDMS api version - This should no longer be v1alpha1 - Also add clarifying comments to IDMS files (#2545)
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .tekton/images-mirror-set.yaml
Due: none

Update IDMS api version - This should no longer be v1alpha1 - Also add clarifying comments to IDMS files (#2540)
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .tekton/images-mirror-set.yaml
Due: none

Update IDMS api version - This should no longer be v1alpha1 - Also add clarifying comments to IDMS files (#2548)
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .tekton/images-mirror-set.yaml
Due: none

Update IDMS api version - This should no longer be v1alpha1 - Also add clarifying comments to IDMS files (#2542)
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .tekton/images-mirror-set.yaml
Due: none

Update to use released opm image for 4.19 (#2503)
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: none

OCPBUGS-58372: Fix TALM performing "afterCompletion" while blocked (#2624)
  controllers/actions.go
  controllers/clustergroupupgrade_controller.go
  deploy/acm/policies/blocking_mechanisms/patch-partial.bash
  deploy/acm/policies/blocking_mechanisms/patch.bash
  deploy/upgrades/blocking-mechanisms/cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-setup-blocking-mechanisms.yaml
  tests/kuttl/cgu/blocking-mechanisms/01-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/02-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-complete-cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/04-cleanup-blocking-mechanisms.yaml
Due: none

Fix service account used by tekton pipeline
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
Due: none

Fix service account used by tekton pipeline
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
Due: none

Fix service account used by tekton pipeline (#2620)
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
Due: none

Fix service account used by tekton pipeline (#2621)
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
Due: none

OCPBUGS-58372: Fix TALM performing "afterCompletion" while blocked (#2300)
  controllers/actions.go
  controllers/clustergroupupgrade_controller.go
  deploy/acm/policies/blocking_mechanisms/patch-partial.bash
  deploy/acm/policies/blocking_mechanisms/patch.bash
  deploy/upgrades/blocking-mechanisms/cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-setup-blocking-mechanisms.yaml
  tests/kuttl/cgu/blocking-mechanisms/01-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/02-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-complete-cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/04-cleanup-blocking-mechanisms.yaml
Due: none

OCPBUGS-58372: Fix TALM performing "afterCompletion" while blocked
  controllers/actions.go
  controllers/clustergroupupgrade_controller.go
  deploy/acm/policies/blocking_mechanisms/patch-partial.bash
  deploy/acm/policies/blocking_mechanisms/patch.bash
  deploy/upgrades/blocking-mechanisms/cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-setup-blocking-mechanisms.yaml
  tests/kuttl/cgu/blocking-mechanisms/01-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/02-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-complete-cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/04-cleanup-blocking-mechanisms.yaml
Due: none

OCPBUGS-58372: Fix TALM performing "afterCompletion" while blocked (#2624) (#2627)
  controllers/actions.go
  controllers/clustergroupupgrade_controller.go
  deploy/acm/policies/blocking_mechanisms/patch-partial.bash
  deploy/acm/policies/blocking_mechanisms/patch.bash
  deploy/upgrades/blocking-mechanisms/cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-setup-blocking-mechanisms.yaml
  tests/kuttl/cgu/blocking-mechanisms/01-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/02-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-complete-cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/04-cleanup-blocking-mechanisms.yaml
Due: none

OCPBUGS-58372: Fix TALM performing "afterCompletion" while blocked (#2624) (#2630)
  controllers/actions.go
  controllers/clustergroupupgrade_controller.go
  deploy/acm/policies/blocking_mechanisms/patch-partial.bash
  deploy/acm/policies/blocking_mechanisms/patch.bash
  deploy/upgrades/blocking-mechanisms/cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-setup-blocking-mechanisms.yaml
  tests/kuttl/cgu/blocking-mechanisms/01-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/02-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-complete-cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/04-cleanup-blocking-mechanisms.yaml
Due: none

OCPBUGS-58372: Fix TALM performing "afterCompletion" while blocked (#2624) (#2637)
  controllers/actions.go
  controllers/clustergroupupgrade_controller.go
  deploy/acm/policies/blocking_mechanisms/patch-partial.bash
  deploy/acm/policies/blocking_mechanisms/patch.bash
  deploy/upgrades/blocking-mechanisms/cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/00-setup-blocking-mechanisms.yaml
  tests/kuttl/cgu/blocking-mechanisms/01-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/02-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-assert.yaml
  tests/kuttl/cgu/blocking-mechanisms/03-complete-cgu-a.yaml
  tests/kuttl/cgu/blocking-mechanisms/04-cleanup-blocking-mechanisms.yaml
Due: none

OCPBUGS-59601: Fix missing CSV fields
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

OCPBUGS-59601: Fix missing CSV fields (#2681)
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix misssing fields so that information is shown in OperatorHub page.
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Upversion golang to 1.24
  .ci-operator.yaml
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
  Dockerfile
  Dockerfile.aztp
  Dockerfile.recovery
  controllers/managedClusterResources.go
  go.mod
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

OCPBUGS-59601: Fix missing CSV fields (#2681) (#2835)
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix misssing fields so that information is shown in OperatorHub page. (#2861)
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix misssing fields so that information is shown in OperatorHub page. (#2862)
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request
