Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)

Address review comments for Placement API migration:
  controllers/policy.go
  controllers/utils/constants.go
  controllers/utils/policy_util.go
  controllers/utils/policy_util_test.go
Due: none

Update kuttl test fixtures for deprecated PreCachingConfig overrides
  deploy/upgrades/pre-caching/pre-caching-config-cr.yaml
  deploy/upgrades/pre-caching/pre-caching-with-configs.yaml
  tests/kuttl/cgu/pre-caching-with-configs/00-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/00-setup-with-pre-caching-config-missing.yaml
  tests/kuttl/cgu/pre-caching-with-configs/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/03-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/04-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/05-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/06-assert.yaml
Due: none

Deprecate unused PreCachingConfig override fields (#10171)
  bundle/manifests/ran.openshift.io_precachingconfigs.yaml
  config/crd/bases/ran.openshift.io_precachingconfigs.yaml
  controllers/managedClusterResources.go
  controllers/preCachingConfig_test.go
  controllers/precache.go
  deploy/upgrades/pre-caching/pre-caching-config-cr.yaml
  deploy/upgrades/pre-caching/pre-caching-with-configs.yaml
  pkg/api/clustergroupupgrades/v1alpha1/types.go
  tests/kuttl/cgu/pre-caching-with-configs/00-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/00-setup-with-pre-caching-config-missing.yaml
  tests/kuttl/cgu/pre-caching-with-configs/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/03-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/04-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/05-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/06-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Replace text/template with structured object construction for precache ConfigMap MCA
  controllers/managedClusterResources.go
  controllers/managedClusterResources_test.go
  controllers/precache.go
  controllers/precache_test.go
  controllers/templates/precache-templates.go
Due: none

Fix gofmt alignment in map literals
  controllers/precache.go
  controllers/precache_test.go
Due: none

Update kuttl assertions for structured ConfigMap builder
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
Due: none

Deprecate unused PreCachingConfig override fields (#10171)
  bundle/manifests/ran.openshift.io_precachingconfigs.yaml
  config/crd/bases/ran.openshift.io_precachingconfigs.yaml
  controllers/managedClusterResources.go
  controllers/preCachingConfig.go
  controllers/preCachingConfig_test.go
  controllers/precache.go
  deploy/upgrades/pre-caching/pre-caching-config-cr.yaml
  deploy/upgrades/pre-caching/pre-caching-with-configs.yaml
  pkg/api/clustergroupupgrades/v1alpha1/types.go
  tests/kuttl/cgu/pre-caching-with-configs/00-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/00-setup-with-pre-caching-config-missing.yaml
  tests/kuttl/cgu/pre-caching-with-configs/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/03-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/04-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/05-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/06-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Update kuttl assertions for structured ConfigMap output
  tests/kuttl/cgu/pre-caching-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/01-assert.yaml
Due: none

Deprecate unused PreCachingConfig override fields (#10171)
  api/v1alpha1/precachingconfig_types.go
  bundle/manifests/ran.openshift.io_precachingconfigs.yaml
  config/crd/bases/ran.openshift.io_precachingconfigs.yaml
  controllers/preCachingConfig.go
  controllers/preCachingConfig_test.go
  controllers/precache.go
  deploy/upgrades/pre-caching/pre-caching-config-cr.yaml
  deploy/upgrades/pre-caching/pre-caching-with-configs.yaml
  tests/kuttl/tests/pre-caching-with-configs/00-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/00-setup-with-pre-caching-config-missing.yaml
  tests/kuttl/tests/pre-caching-with-configs/01-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/02-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/03-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/04-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/05-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/06-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Deprecate unused ConfigMap override fields (#10171)
  controllers/precache.go
Due: none

Deprecate unused PreCachingConfig override fields (#10171) (#10583)
  bundle/manifests/ran.openshift.io_precachingconfigs.yaml
  config/crd/bases/ran.openshift.io_precachingconfigs.yaml
  controllers/managedClusterResources.go
  controllers/preCachingConfig_test.go
  controllers/precache.go
  deploy/upgrades/pre-caching/pre-caching-config-cr.yaml
  deploy/upgrades/pre-caching/pre-caching-with-configs.yaml
  pkg/api/clustergroupupgrades/v1alpha1/types.go
  tests/kuttl/cgu/pre-caching-with-configs/00-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/00-setup-with-pre-caching-config-missing.yaml
  tests/kuttl/cgu/pre-caching-with-configs/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/03-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/04-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/05-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/06-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Add com.redhat.fbc.openshift.version label to FBC Dockerfile
  .konflux/Dockerfile.catalog
Due: none

Deprecate unused ConfigMap override fields (#10171)
  controllers/managedClusterResources.go
  controllers/precache.go
Due: none

Deprecate unused PreCachingConfig override fields (#10171)
  api/v1alpha1/precachingconfig_types.go
  bundle/manifests/ran.openshift.io_precachingconfigs.yaml
  config/crd/bases/ran.openshift.io_precachingconfigs.yaml
  controllers/managedClusterResources.go
  controllers/preCachingConfig.go
  controllers/preCachingConfig_test.go
  controllers/precache.go
  deploy/upgrades/pre-caching/pre-caching-config-cr.yaml
  deploy/upgrades/pre-caching/pre-caching-with-configs.yaml
  tests/kuttl/tests/pre-caching-with-configs/00-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/00-setup-with-pre-caching-config-missing.yaml
  tests/kuttl/tests/pre-caching-with-configs/01-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/02-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/03-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/04-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/05-assert.yaml
  tests/kuttl/tests/pre-caching-with-configs/06-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Improve kuttl test stability
  deploy/acm/policies/all_policies/child-policy0-dependency.yaml
  deploy/acm/policies/all_policies/child-policy1-dependency.yaml
  deploy/acm/policies/all_policies/policy0-dependency.yaml
  deploy/acm/policies/all_policies/policy1-dependency.yaml
  deploy/upgrades/dependency-order/cgu.yaml
  deploy/upgrades/dependency-order/patch-policies-status.sh
  tests/kuttl/cgu/dependency-order/00-assert.yaml
  tests/kuttl/cgu/dependency-order/01-assert.yaml
  tests/kuttl/cgu/dependency-order/01-change-managed-policy-order.yaml
Due: none

Improve kuttl test stability (#10673)
  deploy/acm/policies/all_policies/child-policy0-dependency.yaml
  deploy/acm/policies/all_policies/child-policy1-dependency.yaml
  deploy/acm/policies/all_policies/policy0-dependency.yaml
  deploy/acm/policies/all_policies/policy1-dependency.yaml
  deploy/upgrades/dependency-order/cgu.yaml
  deploy/upgrades/dependency-order/patch-policies-status.sh
  tests/kuttl/cgu/dependency-order/00-assert.yaml
  tests/kuttl/cgu/dependency-order/01-assert.yaml
  tests/kuttl/cgu/dependency-order/01-change-managed-policy-order.yaml
Due: none

Deprecate unused PreCachingConfig override fields (#10171) (#10585)
  bundle/manifests/ran.openshift.io_precachingconfigs.yaml
  config/crd/bases/ran.openshift.io_precachingconfigs.yaml
  controllers/managedClusterResources.go
  controllers/preCachingConfig.go
  controllers/preCachingConfig_test.go
  controllers/precache.go
  deploy/upgrades/pre-caching/pre-caching-config-cr.yaml
  deploy/upgrades/pre-caching/pre-caching-with-configs.yaml
  pkg/api/clustergroupupgrades/v1alpha1/types.go
  tests/kuttl/cgu/pre-caching-with-configs/00-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/00-setup-with-pre-caching-config-missing.yaml
  tests/kuttl/cgu/pre-caching-with-configs/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/03-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/04-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/05-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/06-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Deprecate unused ConfigMap override fields (#10171) (#10590)
  controllers/managedClusterResources.go
  controllers/precache.go
Due: none

Deprecate unused PreCachingConfig override fields (#10171) (#10588)
  bundle/manifests/ran.openshift.io_precachingconfigs.yaml
  config/crd/bases/ran.openshift.io_precachingconfigs.yaml
  controllers/managedClusterResources.go
  controllers/preCachingConfig.go
  controllers/preCachingConfig_test.go
  controllers/precache.go
  deploy/upgrades/pre-caching/pre-caching-config-cr.yaml
  deploy/upgrades/pre-caching/pre-caching-with-configs.yaml
  pkg/api/clustergroupupgrades/v1alpha1/types.go
  tests/kuttl/cgu/pre-caching-with-configs/00-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/00-setup-with-pre-caching-config-missing.yaml
  tests/kuttl/cgu/pre-caching-with-configs/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/03-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/04-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/05-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/06-assert.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Replace text/template with structured object construction for precache CM (#10175)
  controllers/managedClusterResources.go
  controllers/managedClusterResources_test.go
  controllers/precache.go
  controllers/precache_test.go
  controllers/templates/precache-templates.go
  tests/kuttl/cgu/pre-caching-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-partial-complete/01-assert.yaml
  tests/kuttl/cgu/pre-caching-with-configs/02-assert.yaml
Due: none

Quote variable expansions in pre-cache shell scripts (#10254)
  pre-cache/check_space.sh
  pre-cache/common.sh
  pre-cache/olm.sh
  pre-cache/pull.sh
  pre-cache/release.sh
  pre-cache/test.sh
Due: none

CNF-26436: Switch runtime base image to ubi9-minimal-pqc
  .konflux/container_build_args.conf
Due: none

Detect missing ManagedClusterSetBindings and surface in CGU status
  controllers/clustergroupupgrade_controller.go
  controllers/managedclusterForCGU_controller_test.go
  controllers/policy.go
  controllers/policy_test.go
  controllers/utils/conditions.go
  controllers/utils/constants.go
  controllers/utils/policy_util.go
  controllers/utils/policy_util_test.go
  main.go
  tests/kuttl/cgu/duplicated-managed-policy-name/02-assert.yaml
  vendor/modules.txt
  vendor/open-cluster-management.io/api/cluster/v1beta1/0000_02_clusters.open-cluster-management.io_placements.crd.yaml
  vendor/open-cluster-management.io/api/cluster/v1beta1/0000_03_clusters.open-cluster-management.io_placementdecisions.crd.yaml
  vendor/open-cluster-management.io/api/cluster/v1beta1/doc.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/types_placement.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/types_placementdecision.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/zz_generated.deepcopy.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/zz_generated.model_name.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/zz_generated.register.go
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Quote variable expansions in pre-cache shell scripts (#10254)
  pre-cache/check_space
  pre-cache/common
  pre-cache/olm
  pre-cache/pull
  pre-cache/release
  pre-cache/test.sh
Due: none

Quote variable expansions in pre-cache shell scripts (#10254)
  pre-cache/common
  pre-cache/olm
  pre-cache/pull
  pre-cache/release
  pre-cache/test.sh
Due: none

CNF-26436: Switch runtime base image to ubi9-minimal-pqc (#10952)
  .konflux/container_build_args.conf
Due: none
