Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

topology-aware-lifecycle-manager-bundle-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-bundle-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

topology-aware-lifecycle-manager-recovery-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/topology-aware-lifecycle-manager-recovery-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
  ...

Align version with next dot release
  .konflux/overlay/overlay.bash
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Fix typo and add url comment
  .konflux/overlay/overlay.bash
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Fix missing quotes in yq replaces line
  .konflux/overlay/overlay.bash
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Attempt to auto-label `digest` renovate PRs - I think this should automatically label digest updates with the necessary labels to auto-merge
  renovate.json
Due: none

Update to latest task versions - build-image-index task is broken otherwise
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Red Hat Konflux purge topology-aware-lifecycle-manager-aztp-4-12 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-aztp-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-12-push.yaml
Due: none

Red Hat Konflux purge topology-aware-lifecycle-manager-aztp-4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-aztp-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-13-push.yaml
Due: none

Red Hat Konflux purge topology-aware-lifecycle-manager-aztp-4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-aztp-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-14-push.yaml
Due: none

Red Hat Konflux purge topology-aware-lifecycle-manager-aztp-4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-aztp-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-15-push.yaml
Due: none

Red Hat Konflux update topology-aware-lifecycle-manager-4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/topology-aware-lifecycle-manager-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-13-push.yaml
Due: none

Fix label for 4.16
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix label for 4.17
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix label for 4.18
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix label for 4.17 (#1419)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix label for 4.18 (#1420)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix label for 4.16 (#1418)
  .tekton/build-pipeline.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Backport Konflux changes to 4.12
  .konflux/OWNERS
  .konflux/bundle.Dockerfile
  .konflux/container_build_args.conf
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/overlay.bash
  .konflux/overlay/pin_images.in.yaml
  .tekton/OWNERS
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-12-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-12-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-12-push.yaml
  .yamllint.yaml
  Dockerfile
  Dockerfile.precache
  Dockerfile.recovery
  Makefile
  OWNERS_ALIASES
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
  controllers/clustergroupupgrade_controller.go
  controllers/managedClusterResources.go
  controllers/monitoring.go
  controllers/precache.go
  controllers/utils/common.go
  controllers/validation.go
  hack/golangci-lint.sh
  hack/konflux_update_task_refs.sh
  hack/lint.sh
  hack/shellcheck.sh
  hack/yamllint.sh
  recovery/bindata/upgrade-recovery.sh
  recovery/generated/zz_generated.bindata.go
  renovate.json
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Backport Konflux changes to 4.13
  .konflux/OWNERS
  .konflux/bundle.Dockerfile
  .konflux/container_build_args.conf
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/overlay.bash
  .konflux/overlay/pin_images.in.yaml
  .tekton/OWNERS
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-13-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-13-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-13-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-13-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-13-push.yaml
  .yamllint.yaml
  Dockerfile
  Dockerfile.precache
  Dockerfile.recovery
  Makefile
  OWNERS_ALIASES
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
  controllers/clustergroupupgrade_controller.go
  controllers/managedClusterResources.go
  controllers/monitoring.go
  controllers/precache.go
  controllers/utils/common.go
  controllers/validation.go
  hack/golangci-lint.sh
  hack/konflux_update_task_refs.sh
  hack/lint.sh
  hack/shellcheck.sh
  hack/yamllint.sh
  recovery/bindata/upgrade-recovery.sh
  recovery/generated/zz_generated.bindata.go
  renovate.json
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Backport Konflux changes to 4.14
  .konflux/OWNERS
  .konflux/bundle.Dockerfile
  .konflux/container_build_args.conf
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/overlay.bash
  .konflux/overlay/pin_images.in.yaml
  .tekton/OWNERS
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-14-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-14-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-14-push.yaml
  .yamllint.yaml
  Dockerfile
  Dockerfile.precache
  Dockerfile.recovery
  Makefile
  OWNERS_ALIASES
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
  controllers/clustergroupupgrade_controller.go
  controllers/managedClusterResources.go
  controllers/monitoring.go
  controllers/precache.go
  controllers/utils/common.go
  controllers/validation.go
  hack/golangci-lint.sh
  hack/konflux_update_task_refs.sh
  hack/lint.sh
  hack/shellcheck.sh
  hack/yamllint.sh
  recovery/bindata/upgrade-recovery.sh
  recovery/generated/zz_generated.bindata.go
  renovate.json
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Backport Konflux changes to 4.15
  .ci-operator.yaml
  .konflux/OWNERS
  .konflux/bundle.Dockerfile
  .konflux/container_build_args.conf
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/overlay.bash
  .konflux/overlay/pin_images.in.yaml
  .tekton/OWNERS
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-15-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-15-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-15-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-15-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-15-push.yaml
  .yamllint.yaml
  Dockerfile
  Dockerfile.precache
  Dockerfile.recovery
  Makefile
  OWNERS_ALIASES
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manifests/bases/cluster-group-upgrades-operator.clusterserviceversion.yaml
  controllers/clustergroupupgrade_controller.go
  controllers/managedClusterResources.go
  controllers/monitoring.go
  controllers/precache.go
  controllers/utils/common.go
  controllers/validation.go
  hack/golangci-lint.sh
  hack/konflux_update_task_refs.sh
  hack/lint.sh
  hack/shellcheck.sh
  hack/yamllint.sh
  recovery/bindata/upgrade-recovery.sh
  recovery/generated/zz_generated.bindata.go
  renovate.json
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix kube rbac proxy pinning - Add missing tag - Update digest
  .konflux/overlay/overlay.bash
  .konflux/overlay/pin_images.in.yaml
  renovate.json
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Fix typo & align renovate
  .konflux/overlay/overlay.bash
  renovate.json
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Fix typo & align renovate
  .ci-operator.yaml
  .konflux/overlay/overlay.bash
  renovate.json
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request

Add `latest` tag to quay builds
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-20-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-20-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Add `latest` tag to quay builds
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-19-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-19-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Add `latest` tag to quay builds
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-18-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-18-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Add `latest` tag to quay builds
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-17-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-17-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Add `latest` tag to quay builds
  .tekton/build-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-aztp-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-bundle-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-precache-4-16-push.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-16-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-recovery-4-16-push.yaml
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)
