Repository openshift-kni/cluster-group-upgrades-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Path conditions:
  topology-aware-lifecycle-manager-bundle-4-20-on-pull-request: ((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: .konflux/overlay/***)) or (any of: .tekton/topology-aware-lifecycle-manager-bundle-4-20-pull-request.yaml)) or (any of: .konflux/bundle.konflux.Dockerfile)
  topology-aware-lifecycle-manager-recovery-4-20-on-pull-request: ((((((((((any of: .tekton/build-pipeline.yaml) or (any of: .konflux/konflux_build_args.conf)) or (any of: config/***)) or (any of: hack/***)) or (any of: pkg/***)) or (any of: recovery/***)) or (any of: vendor/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: .tekton/topology-aware-lifecycle-manager-recovery-4-20-pull-request.yaml)) or (any of: Dockerfile.recovery)

CNF-20367: Replace rhel-els/minimal with ubi9/minimal
  .konflux/container_build_args.conf
Due: none

CNF-20367: Replace rhel-els/minimal with ubi9/minimal (#4683)
  .konflux/container_build_args.conf
Due: none

CNF-20367: Replace rhel-els/minimal with ubi9/minimal (#4785)
  .konflux/container_build_args.conf
Due: none

CNF-20367: Replace rhel-els/minimal with ubi9/minimal (#4784)
  .konflux/container_build_args.conf
Due: none

CNF-20367: Replace rhel-els/minimal with ubi9/minimal (#4787)
  .konflux/container_build_args.conf
Due: none

CNF-20367: Replace rhel-els/minimal with ubi9/minimal (#4788)
  .konflux/container_build_args.conf
Due: none

CNF-20367: Replace rhel-els/minimal with ubi9/minimal (#4786)
  .konflux/container_build_args.conf
Due: none

fix talm naming issue
  .konflux/Dockerfile.catalog
Due: none

use semver tags instead of sha256 values
  .konflux/catalog/catalog-template.in.yaml
Due: none

Introduce 'run-opm-command' in the fbc pipeline
  .konflux/Dockerfile.catalog
  .tekton/fbc-pipeline.yaml
Due: none

introduce 'run-opm-pre-actions'
  .tekton/fbc-pipeline.yaml
Due: none

Update catalog template by the script task
  .tekton/fbc-pipeline.yaml
Due: none

introduce idms for rendering
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
Due: none

inject image into the sbom file (Conforma error)
  .tekton/fbc-pipeline.yaml
Due: none

set hermetic "true" in the fbc pipeline
  .tekton/topology-aware-lifecycle-manager-fbc-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-18-push.yaml
Due: none

rename catalog.yaml to catalog.json
  Makefile
Due: none

upgrade script task (Conforma error)
  .tekton/fbc-pipeline.yaml
Due: none

get back to bundle digests in catalog template
  .konflux/catalog/catalog-template.in.yaml
Due: none

feat: Add runtime coverage collection infrastructure
  Dockerfile
  Makefile
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  hack/add-sidecar.sh
  hack/extract-coverage.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

feat: Add runtime coverage collection infrastructure (#4991)
  Dockerfile
  Makefile
  bundle/manifests/cluster-group-upgrades-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  hack/add-sidecar.sh
  hack/extract-coverage.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Increase kuttl timeout
  kuttl-test.yaml
Due: none

Introduce 'run-opm-command' in the fbc pipeline
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-18-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-18-push.yaml
  Makefile
Due: none

Introduce 'run-opm-command' in the fbc pipeline
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-20-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-20-push.yaml
  Makefile
Due: none

Introduce 'run-opm-command' in the fbc pipeline
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-19-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-19-push.yaml
  Makefile
Due: none

Introduce 'run-opm-command' in the fbc pipeline
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-21-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-21-push.yaml
  Makefile
Due: none

Introduce 'run-opm-command' in the fbc pipeline
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-idms.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-17-pull-request.yaml
  .tekton/topology-aware-lifecycle-manager-fbc-4-17-push.yaml
  Makefile
Due: none

Increase kuttl timeout (#5043)
  kuttl-test.yaml
Due: none

Upgrade GolangCI-lint to v2
  .golangci.yml
  Makefile
  recovery/HACKING.md
Due: topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Replace kubectl with oc in hack/extract-coverage.sh
  Makefile
  hack/extract-coverage.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Replace kubectl with oc in hack/extract-coverage.sh (#5097)
  Makefile
  hack/extract-coverage.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Replace kubectl with oc in add-sidecar script
  hack/add-sidecar.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Replace kubectl with oc in add-sidecar script (#5110)
  hack/add-sidecar.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix add-sidecar.sh to wait for sidecar container to be ready
  hack/add-sidecar.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Fix add-sidecar.sh to wait for sidecar container to be ready (#5115)
  hack/add-sidecar.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request

Remove securityContext of sidecar pod
  hack/add-sidecar.sh
Due: topology-aware-lifecycle-manager-bundle-4-20-on-pull-request, topology-aware-lifecycle-manager-recovery-4-20-on-pull-request
